{% extends "base.html.twig" %}

{% block body %}

<h1>Bienvenue sur notre page Admin</h1>

<div>
    <h2>
        Utilisateurs
    </h2>
    <div>
        <button><a href="{{ path('app_admin_adminUser_create')}}">
            Ajouter
        </a></button>
        <button><a href="{{ path('app_admin_adminUser_list')}}">
            Liste
        </a></button>
    </div>
</div>

<div>
    <h2>
        Addresses
    </h2>
    <div>
        <button><a href="{{ path('app_admin_adminAddress_create')}}">
            Ajouter
        </a></button>
        <button><a href="{{ path('app_admin_adminAddress_list')}}">
            Liste
        </a></button>
    </div>
</div>

<div>
    <h2>
        Auteurs
    </h2>
    <div>
        <button><a href="{{ path('app_admin_adminAuthor_create')}}">
            Ajouter
        </a></button>
        <button><a href="{{ path('app_admin_adminAuthor_list')}}">
            Liste
        </a></button>
    </div>
</div>

<div>
    <h2>
        Maison d'éditions
    </h2>
    <div>
        <button><a href="{{ path('app_admin_adminPublisher_create')}}">
            Ajouter
        </a></button>
        <button><a href="{{ path('app_admin_adminPublisher_list')}}">
            Liste
        </a></button>
    </div>
</div>

<div>
    <h2>
        Catégories
    </h2>
    <div>
        <button><a href="{{ path('app_admin_adminCategory_create')}}">
            Ajouter
        </a></button>
        <button><a href="{{ path('app_admin_adminCategory_list')}}">
            Liste
        </a></button>
    </div>
</div>

<div>
    <h2>
        Livres
    </h2>
    <div>
        <button><a href="{{ path('app_admin_adminBook_create')}}">
            Ajouter
        </a></button>
        <button><a href="{{ path('app_admin_adminBook_list')}}">
            Liste
        </a></button>
    </div>
</div>

{# <div>
    <h2>
        Commandes
    </h2>
    <div>
        <button><a href="{{ path('app_admin_adminOrder_create')}}">
            Ajouter
        </a></button>
        <button><a href="{{ path('app_admin_adminOrder_list')}}">
            Liste
        </a></button>
    </div>
</div> #}

{% endblock %}