{% extends "base.html.twig" %}

{% block body %}

    <h2>Profil</h2>
    <br>
    <h3>Informations</h3>
    <ul>
        <li>Pseudo : {{ user.userName }}</li>
    </ul>

    <h3>Livres</h3>
    <table>
        <tr>
            <th>Titre</th>
            {# <th>Auteur</th> #}
            <th>Editeur</th>
            <th>Prix</th>
            </tr>
        
        {% for book in user.books %}
        <tr>
            <td>{{ book.title }}</td>
            {# <td>{{ book.author }}</td> #}
            <td>{{ book.publisher.title }}</td>
            <td>{{ book.price }}</td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}